{% load static %}
<!-- Top Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <div class="col-md-4"><i class="fas fa-phone"></i> 9860696969</div>
  </a>
  <div class="col-md-4">
    <i class="fas fa-envelope-open">contact@gharjagga_nepal.com</i>
  </div>
  <div class="col-md-4">
    {% comment "" %}
    <div class="social text-right">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-pinterest"></i>
      </a>
    </div>
    {% endcomment %}
  </div>
</nav>
