{% extends 'header/base.html' %}
<!---->
{% load static %}
<!---->
{% load humanize %}
<!---->
{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="{% url 'listing:advanceSearch' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="sr-only">Keywords</label>
              <input
                type="text"
                name="keywords"
                class="form-control"
                placeholder="Keyword (Land, Appartment,House etc)"
              />
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">Location</label>
              <input
                type="text"
                name="location"
                class="form-control"
                placeholder="City"
              />
            </div>

            <div class="col-md-6 mb-3">
              <label class="sr-only">Price</label>
              <select name="price" class="form-control">
                <option selected="true" disabled="disabled">
                  Max Price (Any)
                </option>
                {% for key, value in price_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <button class="btn btn-secondary btn-block mt-4" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="showcase-search text-zinc-900 py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <section id="listings" class="py-4">
          <div class="container">
            <div class="row">
              {% if scraper %} {% for scr in scraper %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    height="200"
                    src="{{scr.scraper_image}}"
                    alt="Scraped Data"
                  />
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white"
                        >Rs{{scr.scraper_price}}</span
                      >
                    </h2>
                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{scr.scrapertitle}}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i>
                        {{scr.scraper_location}}
                      </p>
                    </div>
                    <hr />
                  </div>
                </div>
                <a
                  href="{% url 'listing:scraperDetail' scr.scraper_id %}"
                  class="btn btn-primary btn-block"
                  >More Info</a
                >
              </div>
              {% endfor %} {% else %}
              <div class="col-md-12">
                <p>There are no listings</p>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}
